/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

body {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #111111 -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

.hiddenOverflow {
  overflow: hidden;
}

.showOverFlow {
  overflow: scroll;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: rgb(235, 143, 68) !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
}

/*#video-intro {
	width: 100%;
	height: 100%;
	background: #fff;
	background-size: cover;
}
*/
.videoContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.videoContainer video {
  min-width: 100%;
  min-height: 100%;
}

/*.bloque-tic {
width: 100%;
height: 100%;
background: #fff;
background-size: cover;
z-index: 99999;
}

.logo-tic {
width: 700;
height: 700;
background: #fff;
}*/
/*ol, ul {
    margin: 0 !important;
	list-style: none;
}*/
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #eb6544;
  font-weight: bold;
}

a:hover,
a:focus {
  color: #cd3a16;
  text-decoration: none;
}

:focus {
  outline: 0 !important;
}

strong {
  color: #111111;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', sans-serif !important;
  font: inherit;
}

h2 {
  font-family: 'Quicksand', sans-serif !important;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  color: #111111;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #111111;
  font-family: 'Roboto', sans-serif !important;
  margin: 0 0 10px;
}

.con-padding {
  padding-left: 15px !important;
  padding-right: 15px !important
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.texto-blanco {
  color: #FFFFFF;
}

.leyenda-finalizar {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.35px;
}

.naranja {
  color: #eb6544;
  font-weight: 700;
}

.resaltar {
  background-color: #FFFF00;
}

small {
  color: #8a6d3b;
  padding-top: 5px;
}

/*PRELOADER*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF;
  z-index: 999999999;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally on the screen */
  top: 50%;
  /* centers the loading animation vertically on the screen */
  background-image: url(../img/prealoader.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}

/*TERMINA PRELOADER*/
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

header {
  position: absolute;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  top: 0;
  left: 0;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .10);
}

.navbar-header {
  padding: 0 15px;
}

.navbar-right {
  padding: 2px 0;
}

.navbar-text {
  margin-top: 12px;
  margin-bottom: 11px;
}

.navbar-btn {
  margin-top: 7px;
  margin-bottom: 7px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #eb6544;
}

/* ANIMATED PLUS */
.navbar-toggle.plus.collapsed .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 0, 0) rotate(0deg);
}

.navbar-toggle.plus.collapsed .icon-bar:nth-of-type(2) {
  transform: translate3d(0, 0, 0) rotate(0deg);
}

.navbar-toggle.plus.collapsed .icon-bar:nth-of-type(3) {
  transform: translate3d(0, 0, 0) rotate(0deg);
}

.navbar-toggle.plus .icon-bar:nth-of-type(1) {
  transform: translate3d(0px, 6px, 0) rotate(90deg);
  transform-origin: center center;
}

.navbar-toggle.plus .icon-bar:nth-of-type(3) {
  transform: translate3d(0px, -6px, 0) rotate(-90deg);
  transform-origin: center center;
}

/* END ANIMATED PLUS */
/* FORCE NAVBAR-TOGGLE */
.pen .navbar-toggle {
  border: none;
  background: transparent !important;
}

.pen .navbar-toggle:hover {
  background: transparent !important;
}

.pen .navbar-toggle .icon-bar {
  width: 22px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/*.pen .navbar-collapse {
	border-top: 1px solid transparent;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}*/
/*.pen .navbar-header {
	float: none;
}

.pen .navbar-toggle {
	display: block;
}

.pen .navbar-collapse.collapse {
	display: none !important;
}

.pen .navbar-nav {
	float: none !important;
	margin: 7.5px -15px;
}

.pen .navbar-nav > li {
	float: none;
}

.pen .navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
}

.pen .navbar-collapse.collapse.in {
	display: block !important;
}

.pen .navbar-brand {
  font-size:14px;
}*/
/* END FORCE NAVBAR-TOGGLE */
.logo_unam_menu {
  width: 41px;
  height: 46px;
  padding: 5px 0;
}

.logo_cch_menu {
  width: 46px;
  height: 46px;
  padding: 5px 0;
}

.logotipos-cch {
  display: inline-block;
  position: relative;
}

.logotipos-unam {
  display: inline-block;
  position: relative;
  /*border-right: 1px solid #eb6544;*/
  padding-right: 10px;
}

.logotipos-cch {
  padding-left: 5px;
}

/*.logo_login_unam {
width: 80px;
height: 80px;
padding: 5px 5px;
}*/
.logo_login_unam {
  width: 120px;
  height: 120px;
  padding: 5px 5px;
}

.logos_cch {
  width: 80px;
  height: 80px;
  padding: 5px 5px;
}

/* .logos-unam-cch {
 margin-right: 5px;
}

.logos-planteles {
 border-left: 1px solid #dddddd;
} */

.creditos_link {
  text-transform: none;
  font-weight: 700;
  padding-left: 0 !important;
}

.bibliografia_link {
  text-transform: none;
  font-weight: 700;
}

.ayuda-mail {
  font-size: 12px !important;
  margin-top: 16px;
}

.interior-modal h2 {
  display: inline;
  position: relative;
  font-weight: 700 !important;
  color: #eb6544;
  letter-spacing: 0px;
  line-height: 1.2 !important;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, #fce8e3 21%, #fce8e3 100%);
  box-shadow: 15px 7px 0 #fce8e3, -15px 7px 0 #fce8e3;
}

.usuario {
  padding-right: 15px;
  padding-left: 15px;
  font-size: 15px;
}

.nombre-usuario {
  color: #eb6544;
  font-weight: 700;
  font-size: 15px;
  padding-left: 5px;
  vertical-align: bottom;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #eb6544;
}

a.boton-salir {
  background-image: linear-gradient(to right, #e4b72c, #eb6544);
  color: #ffffff !important;
  display: inline-block;
  border-radius: 1500px;
  padding: 5px 20px !important;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  position: relative;
  z-index: 1;
  opacity: 1;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .20);
}

a.boton-salir:after {
  border-radius: inherit;
  background-image: linear-gradient(to right, #eb6544, #e4b72c);
  content: "";
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  opacity: 0;
  width: 100%;
  transition: all 1s;
  z-index: -1;
}

a.boton-salir:hover:after {
  opacity: 1;
}

a.boton-salir:hover:after {
  opacity: 1;
}

a:hover.boton-salir {
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
  background-position: 0 0;
}

.back-color {
  background-color: #eb6544;
  height: 100vh;
  width: 50%;
}

.imagen-gracias {
  width: 625px;
  z-index: 9;
  margin: 0 auto;
  padding-top: 60px;
}

.back-color-gracias {
  position: absolute;
  top: 0;
  height: 50vh;
  width: 100%;
  z-index: -1;
  background: rgba(207, 58, 21, 1);
  background: -moz-linear-gradient(-45deg, rgba(207, 58, 21, 1) 0%, rgba(236, 101, 68, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(207, 58, 21, 1)), color-stop(100%, rgba(236, 101, 68, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(207, 58, 21, 1) 0%, rgba(236, 101, 68, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(207, 58, 21, 1) 0%, rgba(236, 101, 68, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(207, 58, 21, 1) 0%, rgba(236, 101, 68, 1) 100%);
  background: linear-gradient(135deg, rgba(207, 58, 21, 1) 0%, rgba(236, 101, 68, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf3a15', endColorstr='#ec6544', GradientType=1);
}

.bloque-gracias {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titulo_gracias {
  margin: 0 auto;
  font-size: 30px;
  font-weight: 700;
  color: #eb6544;
  padding-top: 30px;
  padding-bottom: 30px;
}

.nivel-gracias {
  text-align: center;
}

.bloque-codigo-inscripcion {
  padding-bottom: 30px;
}

.bloque-codigo-inscripcion input {
  background: transparent;
  border: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.bloque-password-final input {
  background: transparent;
  border: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.bloque-password-final {
  padding-bottom: 30px;
}

.bloque-regresar-inicio {
  padding: 30px 0;
}

.bloque-login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titulo_login {
  margin-bottom: 0;
  color: #eb6544;
  font-weight: 700;
}

.leyenda-cch {
  text-transform: none;
  font-size: 22px;
  margin-bottom: 15px;
  margin-top: 10px;
  font-weight: 500;
  color: #eb6544;
}

.back-color-final {
  background-color: #a7427f;
  height: 100vh;
  width: 50%;
}

.hr-escolares {
  border-top: 1px solid #eb6544;
}

.bloque-escolares {}

.boton-login {
  background-image: linear-gradient(to right, #e4b72c, #eb6544);
  color: #fff;
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 30px;
  padding: 15px 50px;
  border-radius: 1500px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
  opacity: 1;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .20);
  border: none;
}

.boton-login:after {
  border-radius: inherit;
  background-image: linear-gradient(to right, #eb6544, #e4b72c);
  content: "";
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  opacity: 0;
  width: 100%;
  transition: all 1s;
  z-index: -1;
}

.boton-login:hover:after {
  opacity: 1;
}

.boton-login:hover {
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
  background-position: 0 0;
  color: #fff;
}

.input-group {
  width: 100%;
}

.input-lg {
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  padding-left: 0 !important;
  border-radius: 0;
  color: #999999;
}

/*INICIA NUEVOS BLOQUES*/
.actividad_titulo {
  margin-bottom: 30px;
  margin-top: 0;
}

.niveles {
  text-align: center;
}

.nivel-portada {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.nivel-portada h2 {
  padding-top: 15px;
  transform: scale(1.25);
  transition: all 400ms;
  padding-bottom: 15px;
  font-size: 35px;
}

.nivel-portada p {
  padding: 0;
  transform: scale(1.25);
  transition: all 400ms;
}

.project {
  height: 100vh;
  padding: 0 !important;
  opacity: 1;
  background: rgba(228, 151, 44, 1);
  background: -moz-linear-gradient(top, rgba(228, 151, 44, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(228, 151, 44, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
  background: -webkit-linear-gradient(top, rgba(228, 151, 44, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -o-linear-gradient(top, rgba(228, 151, 44, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -ms-linear-gradient(top, rgba(228, 151, 44, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(to bottom, rgba(228, 151, 44, 1) 0%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4972c', endColorstr='#ffffff', GradientType=0);
}

.project-2 {
  background: rgba(59, 165, 177, 1);
  background: -moz-linear-gradient(top, rgba(59, 165, 177, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(59, 165, 177, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
  background: -webkit-linear-gradient(top, rgba(59, 165, 177, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -o-linear-gradient(top, rgba(59, 165, 177, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -ms-linear-gradient(top, rgba(59, 165, 177, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(to bottom, rgba(59, 165, 177, 1) 0%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3ba5b1', endColorstr='#ffffff', GradientType=0);
}

.project-3 {
  background: rgba(236, 101, 68, 1);
  background: -moz-linear-gradient(top, rgba(236, 101, 68, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(236, 101, 68, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
  background: -webkit-linear-gradient(top, rgba(236, 101, 68, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -o-linear-gradient(top, rgba(236, 101, 68, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -ms-linear-gradient(top, rgba(236, 101, 68, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(to bottom, rgba(236, 101, 68, 1) 0%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ec6544', endColorstr='#ffffff', GradientType=0);
}

.project-4 {
  background-size: cover;
  background: rgba(167, 66, 127, 1);
  background: -moz-linear-gradient(top, rgba(167, 66, 127, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(167, 66, 127, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
  background: -webkit-linear-gradient(top, rgba(167, 66, 127, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -o-linear-gradient(top, rgba(167, 66, 127, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -ms-linear-gradient(top, rgba(167, 66, 127, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(to bottom, rgba(167, 66, 127, 1) 0%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a7427f', endColorstr='#ffffff', GradientType=0);
}

.project-hover {
  max-width: 768px;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-hover h2 {
  font-size: 35px;
  font-weight: 700;
}

.project-hover hr {
  height: 5px;
  width: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: rgba(17, 17, 17, 1);
  border: 0;
  margin-top: 5px;
  margin-bottom: 5px
}

.project-hover a {
  color: rgba(255, 255, 255, 1);
  padding: 2px 22px;
  line-height: 10px;
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.project-hover a:hover {
  border-color: rgba(51, 51, 51, 1);
  color: rgba(51, 51, 51, 1);
  background-color: #FFF;
}

.project:hover .project-hover {
  opacity: 1;
}

.project:hover .project-hover hr {
  width: 15%;
  height: 5px;
}

button.scroll.texto-icono:hover {
  -webkit-transform: translateX(-50%) scale(1.2);
  -moz-transform: translateX(-50%) scale(1.2);
  -ms-transform: translateX(-50%) scale(1.2);
  -o-transform: translateX(-50%) scale(1.2);
  transform: translateX(-50%) scale(1.2);
}

button.scroll.texto-icono {
  visibility: visible;
  -webkit-transform: translateX(-50%) scale(1);
  -moz-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  -o-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
  -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.4s 0s, visibility 0s 0s;
  transition: transform 0.4s 0s, visibility 0s 0s;
  -webkit-animation: cd-translate 1.2s 0.8s;
  -moz-animation: cd-translate 1.2s 0.8s;
  animation: cd-translate 1.2s 0.8s;
  -webkit-animation-iteration-count: 2;
  -moz-animation-iteration-count: 2;
  animation-iteration-count: 2;
}

.nivel-portada .scroll {
  display: block;
  position: absolute;
  z-index: 2;
  bottom: 50px;
  left: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
  background: url(../img/cd-icon-arrow.svg) no-repeat center center;
  visibility: hidden;
  -webkit-transform: translateX(-50%) scale(0);
  -moz-transform: translateX(-50%) scale(0);
  -ms-transform: translateX(-50%) scale(0);
  -o-transform: translateX(-50%) scale(0);
  transform: translateX(-50%) scale(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s;
  transition: transform 0.3s 0s, visibility 0s 0.3s;
}

.texto-icono {
  color: transparent;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

/*TERMINA NUEVOS BLOQUES*/
.glyph-icon {
  display: block;
  font-family: "Flaticon";
  line-height: 1;
  margin-bottom: 15px;
}

.glyph-icon:before {
  color: #111;
}

.cd-project-info {
  display: none;
  padding-top: 4em;
  background-color: #ffffff;
  color: #111111;
}

.content-visible .cd-project-info {
  display: block;
}

.cd-project-info p {
  width: 100%;
  margin: 0 0 10px;
}

.cd-project-info h2 {
  width: 100%;
  font-size: 36px;
  font-weight: 400;
  padding-bottom: 30px;
}

.actividad {
  width: 100%;
  font-size: 24px;
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.actividad_navega_numero {
  color: #3ca6b1;
}

.actividad_cuenta_numero {
  color: #e4982c;
}

.actividad_busqueda_numero {
  color: #eb6544;
}

.actividad_organizate_numero {
  color: #a7427f;
}

.linea_cuenta_mail_izq {
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: -15px;
  margin-right: 0;
  border-top: 2px solid #e4982c;
}

.linea_cuenta_mail_der {
  margin-top: 70px;
  margin-bottom: 70px;
  margin-right: 0;
  margin-left: 0;
  border-top: 2px solid #e4982c;
}

.linea_navega_izq {
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: -15px;
  margin-right: 0;
  border-top: 2px solid #3ca6b1;
}

.linea_navega_der {
  margin-top: 70px;
  margin-bottom: 70px;
  margin-right: 0;
  margin-left: 0;
  border-top: 2px solid #3ca6b1;
}

.linea_busqueda_izq {
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: -15px;
  margin-right: 0;
  border-top: 2px solid #eb6544;
}

.linea_busqueda_der {
  margin-top: 70px;
  margin-bottom: 70px;
  margin-right: 0;
  margin-left: 0;
  border-top: 2px solid #eb6544;
}

.linea_organizate_izq {
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: -15px;
  margin-right: 0;
  border-top: 2px solid #a7427f;
}

.linea_organizate_der {
  margin-top: 70px;
  margin-bottom: 70px;
  margin-right: 0;
  margin-left: 0;
  border-top: 2px solid #a7427f;
}

.ultimo-parrafo {
  padding-bottom: 100px;
}

li {
  font-size: 16px;
  line-height: 1.6em;
}

/* list bullet version */
ul[class*="list-bullet-"] li {
  list-style-type: none;
  position: relative;
  padding-left: 24px;
  font-size: 18px;
  font-weight: 500;
  color: #a7427f;
}

ul[class*="list-bullet-"] li:before {
  content: "•";
  margin-right: 0.5em;
  position: absolute;
  left: 0;
  font-size: 2.5em;
  line-height: 0.6em;
}

ul[class*="list-bullet-3"] li {
  color: #eb6544;
}

.list-bullet-3 {
  margin: 15px 0;
  padding: 0 15px;
}

.list-bullet-3 li:before {
  color: #eb6544;
}

.list-bullet-4 {
  margin: 15px 0;
  padding: 0 15px;
}

.list-bullet-4 li:before {
  color: #a7427f;
}

ul[class*="list-bullet-white"] li {
  color: #f1f1f1;
}

.list-bullet-white {
  margin: 15px 0;
  padding: 0 15px;
}

.list-bullet-white li:before {
  color: #f1f1f1;
}

.numeros_nivel_1 {
  color: #e4982c;
  font-weight: 500;
  font-size: 16px;
  margin: 0 15px 15px 15px;
}

.numeros_nivel_1 p {
  margin: 0;
  font-weight: 400;
  color: #e4982c;
  padding: 5px 0px;
}

.numeros_nivel_1 span {
  font-weight: 500;
  border-radius: 100%;
  padding: 4px 10px;
  color: #ffffff;
  background-color: #e4982c;
}

.numeros_nivel_3 {
  color: #eb6544;
  font-weight: 500;
  font-size: 16px;
  margin: 0 15px 15px 15px;
}

.numeros_nivel_3 p {
  margin: 0;
  font-weight: 400;
  color: #eb6544;
  padding: 5px 0px;
}

.numeros_nivel_3 span {
  font-weight: 500;
  border-radius: 100%;
  padding: 4px 10px;
  color: #ffffff;
  background-color: #eb6544;
}

.numeros_nivel_4 {
  color: #a7427f;
  font-weight: 500;
  font-size: 16px;
  margin: 0 15px 15px 15px;
}

.numeros_nivel_4 p {
  margin: 0;
  font-weight: 400;
  color: #a7427f;
  padding: 5px 0px;
}

.numeros_nivel_4 span {
  font-weight: 500;
  border-radius: 100%;
  padding: 4px 10px;
  color: #ffffff;
  background-color: #a7427f;
}

p.img-respuesta-auto {
  border: 1px solid #edebe9;
  padding: 0 !important;
  margin: 5px 0 0 0 !important;
}

.separa_general {
  width: 100%;
  border-top: 1px solid #eb6544;
}

.separa_logotipos {
  width: 100%;
  border-top: 1px solid #dddddd;
}

hr.separa_cuestionario {
  width: 100%;
  border-top: 1px solid #eb6544;
  margin-top: 0;
}

.separa_nivel_1 {
  width: 100%;
  border-top: 1px solid #e4982c;
}

.separa_nivel_2 {
  width: 100%;
  border-top: 1px solid #3ca6b1;
  margin-bottom: 120px;
}

.separa_nivel_3 {
  width: 100%;
  border-top: 1px solid #eb6544;
  margin-bottom: 20px;
  margin-top: 70px;
}

.separa_nivel_4 {
  width: 100%;
  border-top: 1px solid #a7427f;
  margin-bottom: 30px;
  margin-top: 30px;
}

.video-final {
  padding-bottom: 70px;
}

.actividad-final {
  padding-bottom: 100px;
}

/*inicia boton descarga*/
a.boton_descarga {
  background: #ffffff;
  border: solid 1px #e6e6e6;
  border-radius: 2px;
  display: inline-block;
  height: 100px;
  line-height: 100px;
  margin: 5px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 100px;
}

a.boton_descarga span {
  background: #eb6544;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  line-height: normal;
  padding: 5px 10px;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}

a.boton_descarga span:last-child {
  margin-left: -20px;
}

a.boton_descarga:before,
a.boton_descarga:after {
  background: #ffffff;
  border: solid 3px #9fb4cc;
  border-radius: 4px;
  content: '';
  display: block;
  height: 35px;
  left: 50%;
  margin: -17px 0 0 -12px;
  position: absolute;
  top: 50%;
  width: 25px;
}

a.boton_descarga:hover:before,
a.boton_descarga:hover:after {
  background: #e2e8f0;
}

a.boton_descarga:before {
  margin: -23px 0 0 -5px;
}

a.boton_descarga:hover {
  background: #e2e8f0;
  border-color: #9fb4cc;
}

a.boton_descarga:active {
  background: #dae0e8;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, .25);
}

a.boton_descarga span:first-child {
  display: none;
}

a.boton_descarga:hover.boton_descarga span:first-child {
  display: inline-block;
}

a.boton_descarga:hover.boton_descarga span:last-child {
  display: none;
}

/*termina boton descarga*/
/*inician estilos video*/
.videoWrapper {
  position: relative;
  width: 100%;
  height: 0;
  background-color: #000;
  z-index: 10;
  margin: 30px 0;
}

.videoWrapper43 {
  padding-top: 75%;
  background: transparent;
}

.videoWrapper169 {
  padding-top: 56.28%;
  background: transparent;
}

.videoIframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.videoPoster {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: none;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-size: cover;
  text-indent: -999em;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity 800ms, height 0s;
  -moz-transition: opacity 800ms, height 0s;
  transition: opacity 800ms, height 0s;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}

.videoPoster:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  border: 5px solid #111111;
  border-radius: 100%;
  -webkit-transition: border-color 300ms;
  -moz-transition: border-color 300ms;
  transition: border-color 300ms;
  background: rgba(255, 255, 255, 0.7);
}

.videoPoster:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  margin: -20px 0 0 -10px;
  border-left: 40px solid #111111;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  -webkit-transition: border-color 300ms;
  -moz-transition: border-color 300ms;
  transition: border-color 300ms;
}

.videoPoster:hover:before, .videoPoster:focus:before {
  border-color: #ec6544;
}

.videoPoster:hover:after, .videoPoster:focus:after {
  border-left-color: #ec6544;
}

.videoWrapperActive .videoPoster {
  opacity: 0;
  height: 0;
  -webkit-transition-delay: 0s, 800ms;
  -moz-transition-delay: 0s, 800ms;
  transition-delay: 0s, 800ms;
}

@media (min-width: 768px) {
  .videoPoster:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 160px;
    height: 160px;
    margin: -80px 0 0 -80px;
    border: 5px solid #111111;
    border-radius: 100%;
    -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    transition: border-color 300ms;
    background: rgba(255, 255, 255, 0.7);
  }

  .videoPoster:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    margin: -35px 0 0 -20px;
    border-left: 60px solid #111111;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    transition: border-color 300ms;
  }
}

@media (max-width: 991px) {
  .videoPoster:after {
    margin: -20px 0 0 -10px;
    border-left: 30px solid #111111;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
}

@media (max-width: 768px) {
  .videoPoster:after {
    margin: -15px 0 0 -10px;
    border-left: 25px solid #111111;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }

  .videoPoster:before {
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
  }
}

/*terminan estilos video*/
.control-label {
  font-size: 14px;
  font-weight: 700;
  color: #eb6544;
}

.cursor {
  cursor: pointer !important;
}

/* Popover Body */
.popover-content {
  background-color: #eb6544;
  color: #FFFFFF;
  padding: 15px;
}

.popover {
  border: 0 !important;
  border-radius: 6px !important;
  padding: 0 !important;
  font-family: 'Roboto', sans-serif !important;
  font-size: 15px !important;
  line-height: 1.3 !important;
}

.popover.bottom>.arrow:after {
  content: " ";
  border-bottom-color: #eb6544;
}

.popover>.arrow:after {
  content: "";
  border-width: 10px;
}

.popover>.arrow, .popover>.arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

/*.tooltip.top > .tooltip-inner {
    background-color:#eb6544;
	padding: 10px;
	font-size: 14px;
  }
.tooltip.top > .tooltip-arrow {
    border-top-color:#eb6544;
	padding: 0
   }*/
.form-group {
  margin-bottom: 0 !important;
}

.ejercicio_pass {
  padding-top: 30px;
}

.ejercicio_pass label {
  font-weight: 500;
  padding-bottom: 15px;
}

.ejercicio_pass .form-control {
  background-color: #fcf5ea !important;
  border-radius: 0 !important;
  border: 0 !important;
  height: 50px;
  box-shadow: none !important;
  font-size: 18px;
}

.ejercicio-arrastrar {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ejercicio-materiales {
  padding-top: 30px;
  padding-bottom: 100px;
}

.list-group-item:first-child {
  border-radius: 0;
}

.list-group-item:last-child {
  border-radius: 0;
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
  color: #555;
  text-decoration: none;
  background-color: #fef7f5;
}

#link-dragable {
  width: 100%;
  min-height: 210px;
  padding: 10px;
  background: rgba(235, 101, 68, 0.1);
  margin: 0;
}

#link-dragable-confiable {
  width: 100%;
  min-height: 80px;
  padding: 5px 10px;
  background: rgba(68, 157, 68, 0.1);
  margin-bottom: 10px;
}

#link-dragable-no-confiable {
  width: 100%;
  min-height: 80px;
  padding: 5px 10px;
  background: rgba(255, 51, 51, 0.1);
  margin: 0;
}

p#drag1, p#drag2, p#drag3, p#drag4, p#drag5, p#drag6, p#drag7, p#drag8, p#drag9, p#drag10 {
  color: #eb6544;
  font-weight: 500;
}

.texto-dragable p {
  font-size: 18px;
  font-weight: 500;
  color: #eb6544;
  cursor: move;
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.texto-plagio {
  color: #84250e;
}

.bloque_siguiente_organiza a, .bloque_siguiente_navega a, .bloque_siguiente_busqueda a {
  color: #111111;
}

.bloque_siguiente_organiza a:hover, .bloque_siguiente_navega a:hover, .bloque_siguiente_busqueda a:hover {
  color: #f1f1f1;
}

.bloque_siguiente_organiza .titulo_siguiente, .bloque_siguiente_navega .titulo_siguiente, .bloque_siguiente_busqueda .titulo_siguiente {
  font-family: 'Quicksand', sans-serif !important;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  padding-top: 5px;
}

.bloque_siguiente_cuestionario {
  padding: 30px 30px;
  background: rgba(112, 44, 85, 1);
  background: -moz-linear-gradient(-45deg, rgba(112, 44, 85, 1) 0%, rgba(167, 66, 127, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(112, 44, 85, 1)), color-stop(100%, rgba(167, 66, 127, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(112, 44, 85, 1) 0%, rgba(167, 66, 127, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(112, 44, 85, 1) 0%, rgba(167, 66, 127, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(112, 44, 85, 1) 0%, rgba(167, 66, 127, 1) 100%);
  background: linear-gradient(135deg, rgba(112, 44, 85, 1) 0%, rgba(167, 66, 127, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#702c55', endColorstr='#a7427f', GradientType=1);
}

.bloque_siguiente_organiza {
  padding: 30px 30px;
  background: rgba(112, 44, 85, 1);
  background: -moz-linear-gradient(-45deg, rgba(112, 44, 85, 1) 0%, rgba(167, 66, 127, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(112, 44, 85, 1)), color-stop(100%, rgba(167, 66, 127, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(112, 44, 85, 1) 0%, rgba(167, 66, 127, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(112, 44, 85, 1) 0%, rgba(167, 66, 127, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(112, 44, 85, 1) 0%, rgba(167, 66, 127, 1) 100%);
  background: linear-gradient(135deg, rgba(112, 44, 85, 1) 0%, rgba(167, 66, 127, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#702c55', endColorstr='#a7427f', GradientType=1);
}

.bloque_siguiente_navega {
  padding: 30px 30px;
  background: rgba(40, 112, 120, 1);
  background: -moz-linear-gradient(-45deg, rgba(40, 112, 120, 1) 0%, rgba(59, 166, 177, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(40, 112, 120, 1)), color-stop(100%, rgba(59, 166, 177, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(40, 112, 120, 1) 0%, rgba(59, 166, 177, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(40, 112, 120, 1) 0%, rgba(59, 166, 177, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(40, 112, 120, 1) 0%, rgba(59, 166, 177, 1) 100%);
  background: linear-gradient(135deg, rgba(40, 112, 120, 1) 0%, rgba(59, 166, 177, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#287078', endColorstr='#3ba6b1', GradientType=1);
}

.bloque_siguiente_busqueda {
  padding: 30px 30px;
  background: rgba(207, 58, 21, 1);
  background: -moz-linear-gradient(-45deg, rgba(207, 58, 21, 1) 0%, rgba(236, 101, 68, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(207, 58, 21, 1)), color-stop(100%, rgba(236, 101, 68, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(207, 58, 21, 1) 0%, rgba(236, 101, 68, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(207, 58, 21, 1) 0%, rgba(236, 101, 68, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(207, 58, 21, 1) 0%, rgba(236, 101, 68, 1) 100%);
  background: linear-gradient(135deg, rgba(207, 58, 21, 1) 0%, rgba(236, 101, 68, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf3a15', endColorstr='#ec6544', GradientType=1);
}

.bloque_siguiente_cuestionario {
  padding: 30px 30px;
}

.bloque_siguiente_cuestionario p {
  color: #f1f1f1;
  text-align: center;
  padding: 0 30px;
}

.bloque_siguiente_organiza {
  padding: 30px 30px;
}

.interior_bloque_siguiente {
  padding: 30px 0;
  text-align: center;
  margin-top: -60px;
  transition: transform .3s ease-out;
}

.bloque_organiza {
  background-color: #a7427f;
}

.bloque_navega {
  background-color: #3ba6b1;
}

.bloque_busqueda {
  background-color: #ec6544
}

a:hover .interior_bloque_siguiente {
  transform: translate(0, -10px);
}

p.siguiente_nivel {
  font-size: 15px;
  padding-top: 15px;
}

a .siguiente_nivel {
  text-decoration: none;
}

a:hover .siguiente_nivel {
  color: #f1f1f1;
  font-weight: 500
}

.form-control:focus {
  border-radius: 0;
  box-shadow: none !important;
}

.flecha_siguiente {
  width: 44px;
  height: 44px;
  cursor: pointer;
  border: none;
  background: url(../img/right-arrow.svg) no-repeat center center;
}

/*setting the opacity to fade in from 0 to 1, aka from transparent to opaque*/
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
}

/* Inicia simulador virus */
.simulador {
  margin-top: 30px;
  background-color: #e2f4f5;
}

p.link {
  margin: 15px 0;
}

a:hover p.link {
  text-decoration: underline;
  color: #000;
}

.download {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 15px 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.download h1 {
  position: absolute;
  color: #fff;
  font: 0.6em;
  line-height: 60px;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #4f2c68;
  transition: margin-left .6s cubic-bezier(.1, .7, .2, 1);
}

.download:hover h1 {
  margin-left: 98%;
}

.download ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.download ul li {
  position: static;
  display: inline-block;
  padding: 0 .2em;
}

.download ul li::before {
  display: none;
}

.download ul li a {
  color: #fff;
  font-size: 1.4em;
  margin: 0;
  padding: .3em .6em;
  background: none;
}

.download-info {
  background: #16a085;
}

.download-info h1 {
  background-color: #1abc9c;
}

.download-danger {
  background: #e67e22;
}

.download-danger h1 {
  background-color: #f39c12;
}

.download-success {
  background: #27ae60;
}

.download-success h1 {
  background-color: #2ecc71;
}

.download-warning {
  background: #8e44ad;
}

.download-warning h1 {
  background-color: #9b59b6
}

.card-base>.card-icon {
  text-align: center;
  position: relative;
  margin-top: 30px;
}

.imagecard {
  z-index: 2;
  display: block;
  positioN: relative;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 0 auto;
  color: white;
}

.card-base>.card-icon>.card-data {
  margin-top: -24px;
  background: ghostwhite;
  border: 1px solid #e0e0e0;
  padding: 30px 0 30px 0;
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#widgetCardIcon {
  background: #5cb85c !important;
  font-size: 28px;
  line-height: 78px;
}

.glyphicon-download-alt a:hover {
  color: #000;
}

.modal-correcto {
  background: #449d44 !important;
}

.interior_correcto {
  background: #eaf6ea;
}

.interior_incorrecto {
  background: #ffe4e4;
}

.modal-header {
  background: #ff3333;
  color: white;
}

.btn-default {
  background: #ff3333;
  color: white;
}

.modal {
  text-align: center;
  padding: 0 !important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-correo {
  width: 1200px;
}

.modal-correo .modal-header {
  background: #f0ad4e !important;
}

.modal-correo .interior_correcto {
  background: #fcf8e3;
}

.modal-correo p {
  margin-top: 15px;
  margin-bottom: 0;
  font-weight: 500;
}

h3.modal-title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.modal-content {
  border-radius: 0 !important;
  text-align: center;
  border: none;
}

.modal-body {
  padding: 30px;
}

.close {
  font-size: 30px;
  color: #111;
  text-shadow: none;
  opacity: 0.5;
}

.fade {
  background: rgba(255, 255, 255, 0.90);
}

.glyphicon {
  font-weight: 100;
}

.glyphicon-download:before {
  content: "\e026";
  font-size: 30px;
}

/* Termina simulador virus */
/*Inicia Accordion*/
.logo-acordeon {
  width: 200px;
  padding: 10px 10px 0 0;
}

.acordeones {
  padding-top: 30px;
  padding-bottom: 100px;
}

.panel-body strong {
  color: #eb6544;
  font-weight: 700;
}

.panel-body.body-accordion p {
  padding: 5px 15px;
  background-color: #eeeeee;
  margin-bottom: 0;
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

h3.panel-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}

.panel {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fff;
  box-shadow: none;
}

.panel-body {
  padding: 0;
}

.panel-body p {
  font-size: 16px;
}

.accordion .panel-heading {
  padding: 0;
}

.panel:last-child {
  border-bottom: none;
}

.panel-group>.panel:first-child .panel-heading {
  border-radius: 0;
}

.panel-group .panel {
  border-radius: 0;
  margin-bottom: 0;
}

.panel-group .panel+.panel {
  margin-top: 0;
}

.panel-heading {
  background-color: #eb6544;
  border-radius: 0;
  border: none;
  color: #fff;
}

.panel-title a {
  display: block;
  color: #ffffff;
  padding: 15px;
  position: relative;
  letter-spacing: 0.35px;
}

.panel:last-child .panel-body {
  border-radius: 0;
}

.panel:last-child .panel-heading {
  border-radius: 0;
  transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
  border-radius: 0;
  transition: border-radius linear 0s;
}

/* #bs-collapse icon scale option */
.panel-heading a:before {
  content: '\e146';
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  font-size: 24px;
  transition: all 0.5s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.panel-heading.active a:before {
  content: ' ';
  transition: all 0.5s;
  -webkit-transform: scale(0);
  transform: scale(0);
}

#bs-collapse .panel-heading a:after {
  content: ' ';
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 0.5s;
}

#bs-collapse .panel-heading.active a:after {
  content: '\e909';
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: all 0.5s;
}

/* #accordion rotate icon option */
#accordion .panel-heading a:before {
  content: '\e316';
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: all 0.5s;
}

/*Termina Accordion*/
/*Inicia cuestionario*/
/*.cuestionario-resuelto {
display: none;
}*/
.cuestionario-sin-resolver {
  display: inherit;
}

.cuestionario {
  text-align: left;
}

.form-control {
  /*background-color: #fcf5ea !important;
border: 0 !important;*/
  border-radius: 0 !important;
  height: 50px;
  box-shadow: none !important;
  font-size: 18px;
}

.btn.boton-cuestionario {
  height: 50px;
  border-radius: 0;
  display: table-cell;
}

.bloque_password {
  float: left;
  padding-top: 70px;
  color: #f1f1f1;
  background: rgba(112, 44, 85, 1);
  background: -moz-linear-gradient(-45deg, rgba(112, 44, 85, 1) 0%, rgba(167, 66, 127, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(112, 44, 85, 1)), color-stop(100%, rgba(167, 66, 127, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(112, 44, 85, 1) 0%, rgba(167, 66, 127, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(112, 44, 85, 1) 0%, rgba(167, 66, 127, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(112, 44, 85, 1) 0%, rgba(167, 66, 127, 1) 100%);
  background: linear-gradient(135deg, rgba(112, 44, 85, 1) 0%, rgba(167, 66, 127, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#702c55', endColorstr='#a7427f', GradientType=1);
}

.bloque_password h2 {
  font-size: 36px;
  color: #f1f1f1;
  font-weight: 700;
}

.bloque_password p {
  color: #f1f1f1;
}

.bloque_siguiente_cuestionario h2, .bloque_siguiente_cuestionario strong {
  color: #FFFFFF;
}

.bloque_siguiente_cuestionario .input-group {
  max-width: 400px;
  margin: 0 auto;
}

.actividad-final .input-group {
  max-width: 50%;
}

.form-field {
  border-radius: 0;
  padding: .35rem;
  background: rgba(252, 248, 235, 1);
  background: -moz-linear-gradient(left, rgba(252, 248, 235, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252, 248, 235, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
  background: -webkit-linear-gradient(left, rgba(252, 248, 235, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -o-linear-gradient(left, rgba(252, 248, 235, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -ms-linear-gradient(left, rgba(252, 248, 235, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(to right, rgba(252, 248, 235, 1) 0%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcf8eb', endColorstr='#ffffff', GradientType=1);
}

.cuestionario_titulo {
  margin-bottom: 0;
  margin-top: 0;
  color: #eb6544;
}

.cuestionario_sub {
  margin-bottom: 30px !important;
  margin-top: 0 !important;
}

.boton-enviar {
  background-image: linear-gradient(to right, #e4b72c, #eb6544);
  color: #fff;
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 0;
  padding: 10px 40px;
  border-radius: 1500px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
  opacity: 1;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .20);
  border: none;
}

.boton-enviar:after {
  border-radius: inherit;
  background-image: linear-gradient(to right, #eb6544, #e4b72c);
  content: "";
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  opacity: 0;
  width: 100%;
  transition: all 1s;
  z-index: -1;
}

.boton-enviar:hover:after {
  opacity: 1;
}

.boton-enviar:hover {
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
  background-position: 0 0;
  color: #fff;
}

.cuestionario_pass {
  padding-top: 0;
  padding-bottom: 0;
}

.cuestionario_pass label {
  font-weight: 500;
  padding-bottom: 15px;
}

.cuestionario_pass .form-control {
  background-color: #f1f1f1 !important;
  border-radius: 0 !important;
  border: 0 !important;
  height: 50px;
  box-shadow: none !important;
  font-size: 18px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.alert-danger {
  font-size: 16px;
  font-weight: 700;
  color: #a94442;
  /* background-color: #f2dede;*/
  /* border-color: #ebccd1; */
  background: rgba(242, 222, 222, 1);
  background: -moz-linear-gradient(left, rgba(242, 222, 222, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242, 222, 222, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
  background: -webkit-linear-gradient(left, rgba(242, 222, 222, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -o-linear-gradient(left, rgba(242, 222, 222, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -ms-linear-gradient(left, rgba(242, 222, 222, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(to right, rgba(242, 222, 222, 1) 0%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2dede', endColorstr='#ffffff', GradientType=1);
}

.alert {
  padding: 10px;
  margin: 0;
  border: none;
  border-radius: 0;
}

/*Termino cuestionario*/
/*Checkbox*/
.checkbox-cuestionario.checkbox {
  margin: 0 !important;
}

.checkbox-cuestionario.checkbox label {
  padding-right: 10px;
}

.checkbox-cuestionario.checkbox .cr {
  border: 1px solid #ffb900;
}

.checkbox-cuestionario.checkbox label span.cr i.cr-icon.glyphicon-ok:before {
  color: #ffb900 !important;
}

.checkbox+.checkbox, .radio+.radio {
  margin-top: 0;
}

.checkbox-mobile {
  padding: 15px 0 0 0;
}

.checkbox label, .radio label {
  padding-left: 0
}

.checkbox label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}

.checkbox .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 15%;
}

.checkbox label input[type="checkbox"] {
  display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon {
  opacity: 0;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr {
  opacity: .5;
}

/*Termina Checkbox*/
.glyphicon-star:before {
  color: #ffb900;
}

.checkbox-cuestionario label {
  margin: 0;
}

.checkbox-cuestionario.checkbox-inline, .radio-inline {
  padding-left: 0;
}

.checkbox label:after,
.radio-inline label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr,
.radio-inline .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #ffb900;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}

.radio-inline .cr {
  border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio-inline .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}

.radio .cr .cr-icon {
  margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio-inline label input[type="radio"] {
  display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon,
.radio-inline label input[type="radio"]+.cr>.cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon,
.radio-inline label input[type="radio"]:checked+.cr>.cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr,
.radio-inline label input[type="radio"]:disabled+.cr {
  opacity: .5;
}

/* Actualización 2020 */
.dispositivos {
  text-align: center;
}

.bs-calltoaction-warning {
  text-align: center;
  background: #fcf5ea;
  border-color: #fcf5ea
}

.bs-calltoaction-warning p {
  color: #8a6d3b;
}

.logo-descarga-teams {
  width: 70px;
  margin: 0 auto;
  padding-bottom: 15px;
}

.ultimo-parrafo-teams {
  padding-top: 15px;
  padding-bottom: 120px;
  text-align: center
}

.img-shadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  margin-bottom: 15px
}

.titulo-libro {
  color: #eb6544;
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
}

.submit {
  margin-top: 15px;
}

.actividad-bidi {
  margin-top: 15px;
  margin-bottom: 30px;
}

.back-frase input, .back-frase-fondo input {
  width: auto;
  max-width: 160px;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  margin-top: -.4rem;
}

.back-frase-w-100 input {
  width: 100%;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 800;
  margin-top: -.4rem;
}

.back-frase {
  background: rgba(235, 101, 68, 0.1);
  border-top: .5rem solid #eb6544;
  border-image-slice: 20 !important;
  padding: 3rem;
}

.back-frase-fondo {
  background: rgba(235, 101, 68, 0.1);
  padding: 3rem;
}

.back-frase-w-100 {
  background: rgba(235, 101, 68, 0.1);
  padding: 3rem;
}

.border-frase {
  border-top: .5rem solid #eb6544;
  border-image-slice: 20 !important;
}

.frase-writing {
  color: #333333;
  font-size: 1.8rem;
  vertical-align: text-bottom;
}

.input-minimal {
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-color: #ccc;
  box-shadow: none;
  font-weight: bold;
}

input.input-minimal:focus, textarea.input-minimal:focus {
  border-bottom-color: #111111;
  -webkit-transition: border-color 150ms linear;
  transition: border-color 150ms linear;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  outline: none;
}

textarea.input-minimal:focus {
  /* background: none repeat scroll 0 0 #FFFFFF; */
  outline-width: 0;
  -webkit-transition: border-color 150ms linear;
  transition: border-color 150ms linear;
}

textarea.input-minimal {
  border-width: 2px;
}

.input-minimal:focus {
  border-bottom-color: #999;
  box-shadow: none !important;
}

.input-minimal textarea {
  margin-top: -2rem;
}

.btn-primary.btn-retro {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  border-radius: 0;
}

.btn-primary.btn-retro:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-primary.btn-retro:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, .5);
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.retro {
  margin-top: 15px;
  padding: 10px 0;
  background: none;
  cursor: default;
  box-shadow: inset 0px 0px 0px 1px #ffbd40;
  transition: box-shadow 0.4s linear;
}

.retro:hover, .retro:focus {
  box-shadow: inset 0px 0px 0px 5px #ffbd40;
}

.boton-login {
  transition: all 1s;
}

/* MODAL BIENVENIDA */
.cd-modal#modal-bienvenida {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scribble-transition .cd-modal#modal-bienvenida .modal-content {
  max-width: 768px;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cd-modal#modal-bienvenida .interior-modal {
  max-width: 768px;
}

.cd-modal#modal-bienvenida .modal-content {
  overflow: hidden;
}

.cd-modal#modal-bienvenida .modal-close {
  right: 2.5%;
}

.scribble-transition .cd-modal#modal-bienvenida {
  background: transparent;
}

.cd-modal#modal-bienvenida p.titulo-modal {
  margin: 40px 0 0 0;
  font-weight: bold;
}

.cd-transition-layer.visible {
  opacity: 0.8 !important;
}

.cd-modal#modal-bienvenida a.modal-close {
  background-image: linear-gradient(to right, #e4b72c, #eb6544);
  color: #ffffff !important;
  display: inline-block;
  border-radius: 1500px;
  padding: 10px 20px !important;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.35px;
  position: relative;
  z-index: 1;
  opacity: 1;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .20);
  transition: all 1s;
  margin-top: 7px;
  margin-bottom: 7px;
  width: auto;
  height: auto;
  text-indent: unset;
  white-space: unset;
}

.cd-modal#modal-bienvenida a:hover.modal-close {
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
}

.cd-modal#modal-bienvenida .modal-content {
  box-shadow: unset;
  -webkit-box-shadow: unset;
}

.cd-modal#modal-bienvenida .modal-close::before, .cd-modal#modal-bienvenida .modal-close::after {
  display: none;
}

.flash{
    margin-top:52px;
}

@media (max-width: 768px) {
  .cd-modal#modal-bienvenida .interior-modal {
    max-width: 600px;
  }
}

@media (max-width: 767px) {
  .scribble-transition .cd-modal#modal-bienvenida .modal-content {
    max-width: 90vw;
    height: 90vh;
  }

  .cd-modal#modal-bienvenida .modal-close {
    top: 2%;
    right: 3%
  }

  .cd-modal#modal-bienvenida .modal-content {
    padding: 6em 5%;
  }
}

/* MODAL BIENVENIDA */

/* Actualización 2020 */
@media (max-width: 1690px) {
  .logotipos-cch {
    padding: 0 5px;
  }

  .logotipos-unam {
    padding: 0 10px;
  }
}

/* Media Queries */
@media (max-width: 1200px) {
  .cd-project-title {
    top: calc(50% - 50px);
  }

  .project-hover h2 {
    font-size: 24px;
    text-transform: none;
    margin: 0;
  }

  .niveles .project {
    background: #e4982c;
  }

  .niveles .project-2 {
    background: #3ba6b1;
  }

  .niveles .project-3 {
    background: #ec6544;
  }

  .niveles .project-4 {
    background: #a74280;
  }

  .ejercicio-arrastrar {
    display: inline;
  }

  .back-color-gracias {
    height: 50vh;
  }

  .imagen-gracias {
    padding: 0 !important;
  }

  .titulo_gracias {
    font-size: 30px;
  }

  .nivel-gracias {
    padding-top: 52px;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .boton-login {
    margin-bottom: 30px;
  }
}

@media (max-width: 1024px) {
  .back-color-gracias {
    height: 45vh;
  }

  .niveles {
    padding-top: 52px;
  }

  .logo_login_unam {
    width: 45px;
    height: 45px;
    padding: 3px 0;
  }

  .logos_cch {
    width: 45px;
    height: 45px;
    padding: 3px 0;
  }

  .glyph-icon {
    margin-bottom: 15px;
  }

  [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
  [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-size: 70px !important;
  }

  .nivel-portada p {
    font-size: 18px;
    display: none;
  }

  .nivel-portada h2 {
    font-size: 30px !important;
  }

  .nivel-portada p {
    padding-top: 10px;
    margin: 0 10px 10px 10px;
    display: inherit !important;
    /*animation time for different browsers*/
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
  }

  .project {
    height: 25vh;
    width: 100%;
  }

  .project.nivel-portada {
    height: 100vh;
  }

  .project-hover hr {
    display: none;
  }

  .project-hover p {
    display: none;
  }

  .bloque-login {
    display: contents !important;
  }

  .back-color {
    width: 100%;
    height: 25vh;
    position: absolute;
    top: 0;
    left: 0;
  }

  .back-color-final {
    width: 100%;
    height: 25vh;
    position: absolute;
    top: 0;
    left: 0;
  }

  form#cuestionario {
    margin-bottom: 30px;
  }

  .nivel-gracias {
    padding-top: 52px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .navbar-text {
    margin-right: 0;
    margin-left: 0;
  }

  .navbar-header {
    padding: 2px 15px 2px 0 !important;
  }

  .nav>li>a {
    position: relative;
    display: block;
    padding: 15px 10px;
  }

  .navbar {
    padding-left: 15px;
    padding-right: 15px;
  }
}


@media (max-width: 1080px) {
.navbar-nav>li, .navbar-text, .nombre-usuario {
  font-size: 14px
}
.navbar-nav>li a {
  padding: 15px 5px;
}
}

@media (max-width: 768px) {
  .actividad_cuenta_numero {
    font-size: 18px;
  }

  .logotipos {
    margin: 0 auto;
    text-align: center;
  }

  .nav>li>a {
    padding: 15px 5px;
  }

  a.boton_descarga {
    width: 98%;
    margin-bottom: 15px;
    height: 70px;
    line-height: 70px;
  }

  .back-color-gracias {
    height: 40vh;
  }

  .ayuda-mail {
    padding: 10px 0 !important;
  }

  .bs-calltoaction-warning {
    margin: 15px 0;
  }
}

@media (max-width: 767px) {
  .project-hover h2 {
    font-size: 20px;
    text-transform: none;
  }

  .nivel-portada h2 {
    text-transform: none;
    font-size: 20px !important;
    padding-bottom: 15px;
  }

  .nivel-portada p {
    font-size: 14px;
  }

  .glyph-icon {
    margin-bottom: 5px;
  }

  [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
  [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-size: 55px !important;
  }

  .nivel-portada h2 {
    padding-bottom: 5px;
    padding-top: 15px;
  }

  .nivel-portada .scroll {
    bottom: 20px;
  }

  .navbar-text {
    margin-top: 0;
    margin-bottom: 0;
  }

  .usuario {
    padding: 0;
  }

  .creditos_link .bibliografia_link {
    padding: 15px 0 !important;
  }

  .nav>li>a {
    padding: 10px 0 !important;
  }

  .boton-salir {
    margin-top: 0 !important;
  }

  a.boton-salir {
    margin: 15px auto;
    width: 150px;
  }

  .navbar-default .navbar-collapse {
    text-align: center;
  }

  .navbar-toggle {
    margin-right: 0;
  }

  .niveles {
    padding-top: 50px;
  }

  .logo_login_unam {
    width: 38px;
    height: 38px;
    padding: 3px 0;
  }

  .logos_cch {
    width: 38px;
    height: 38px;
    padding: 3px 0;
  }

  .logotipos-cch {
    padding: 0;
  }

  .logotipos-unam {
    border: 0;
    padding: 0;
  }

  .nivel-gracias {
    padding-top: 15px;
    text-align: center;
  }

  .actividad {
    font-size: 20px;
  }

  .actividad_titulo {
    font-size: 24px;
  }

  .navbar-nav>li, .navbar-text, .nombre-usuario {
    font-size: 16px
  }

  .cd-modal h1, .cd-modal h2 {
    font-size: 24px;
  }
}

@media (max-device-width: 1024px) and (orientation: landscape) {
  .glyph-icon {
    display: none;
  }
}

@media (max-width: 450px) {}
