.navbar-inverse {
    background: #00796B;
    border-bottom-color: #004D40;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>.dropdown>a .caret {
    color: #fff;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-nav>li>.dropdown-menu {
    background: #4DB6AC;
}

.nav-pills>li>a, {
    color: #303F9F;
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: #EEEEEE;
}

.panel-heading h3{
    font-weight: bold;
}

/*
.main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
}

.main-sidebar{
    background-color: #222d32;
}

.content-wrapper {
    min-height: 960.3px;
}

.content-wrapper {
    min-height: 100%;
    background-color: #ecf0f5;
    z-index: 800;
}
*/
