{% extends 'templates/app.twig' %}

{% set page_title = 'Organizate' %}

{% block content %}

<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<nav class="cd-stretchy-nav">
    <a class="cd-nav-trigger" href="#0">
        <span aria-hidden="true"></span>
    </a>
    <ul>
        <li>
            <a href="/niveles">
                <span>Inicio</span></a>
        </li>
        <li>
            <a href="/niveles/cuenta-cch">
                <span>Cuenta</span></a>
        </li>
        <li>
            <a href="/niveles/navega-seguro">
                <span>Navega</span></a>
        </li>
        <li>
            <a href="/niveles/busqueda">
                <span>Busca</span></a>
        </li>
        <li>
            <a href="/niveles/organizate" class="active">
                <span>Organiza</span></a>
        </li>
    </ul>
    <span aria-hidden="true" class="stretchy-nav-bg"></span>
</nav>

<div class="container-fluid no-margin">
    <div class="row">

        <div class="col-sm-12 project project-4 nivel-portada">
            <div class="project-hover">
                <div class="glyph-icon flaticon-shapes"></div>
                <h2>Organízate<br class="hidden-xs">
                    y comparte</h2>
                <p>Aprende a compartir<br class="hidden-xs">
                    información</p>
            </div>

            <a class="page-scroll" href="#actividades">
                <button class="scroll texto-icono">Scroll</button>
            </a>
        </div>

        <div id="actividades" class="col-sm-6 col-sm-offset-3">

            <p>Vas muy bien, ahora ya tienes tu cuenta de correo y sabes dónde encontrar recursos con información confiable pero ahora…</p>

            <ul class="list-bullet-4">
                <li>¿Dónde almacenarás esa información?</li>
                <li>¿Cómo la organizarás?</li>
                <li>¿Cómo la procesarás?</li>
            </ul>

            <p>Y, por qué no, cómo la compartirás con tus amigos y compañeros cuando tengas que realizar un trabajo en equipo o cuando quieran generar algo en conjunto. Pues bien, aquí te daremos unos tips que te ayudarán.</p>
            <p>Pon atención al siguiente video porque posteriormente realizarás algunas actividades.</p>

        </div>

        <div class="col-sm-8 col-sm-offset-2">
            <div class="wow animated fadeIn" data-wow-duration="2s">
                <div class="videoWrapper videoWrapper169 js-videoWrapper">
                    <iframe class="videoIframe js-videoIframe" src="" frameborder="0" allowtransparency="true" allowfullscreen="" data-src="https://www.youtube.com/embed/XzGAT4GQmTI?autoplay=1&amp; modestbranding=0&amp;rel=0&amp;hl=es"></iframe>
                    <button class="videoPoster js-videoPoster" style="background-image: url(../img/poster_video_organizate.jpg)">Reproducir video</button>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-sm-offset-3">
            <p>Con la finalidad de poner a prueba tus habilidades, te invitamos a realizar los siguientes retos, prepárate.</p>
        </div>

        <div class="col-sm-10 linea_organizate_izq"></div>

        <div class="col-sm-6 col-sm-offset-3">
            <div class="wow animated fadeIn" data-wow-duration="2s">
                <div class="actividad actividad_organizate_numero">Actividad 7</div>
                <h2 class="actividad_titulo">Almacenar y organizar información</h2>

                <p>Con la siguiente actividad podrás organizar tus archivos para que no se te pierdan entre la multitud que irás acumulando durante tus estudios, así que aprovéchala.</p>

                <div class="numeros_nivel_4">
                    <p>
                        <span>1</span>
                        &nbsp;Entra a tu cuenta institucional de CCH.</p>
                    <p>
                        <span>2</span>
                        &nbsp;En la sección OneDrive, crea una carpeta y nómbrala “Actividad 7”.</p>
                    <p>
                        <span>3</span>
                        &nbsp;Guarda en esa carpeta los archivos que descargaste en la actividad anterior.</p>
                    <p>
                        <span>4</span>
                        &nbsp;Cuando hayas terminado, realiza una captura de pantalla de la organización de tus archivos y guárdala en el dispositivo que estés utilizando, la necesitarás para realizar la siguiente actividad.</p>
                </div>

                <hr class="separa_nivel_4">

                <p>Nota: Para realizar una captura de pantalla…</p>

                <div class="numeros_nivel_4">
                    <p>
                        <span>a</span>
                        &nbsp;En la computadora presiona la tecla
                        <strong>“Impr Pant”</strong>, abre un documento Word y teclea
                        <strong>“Ctrl + v”</strong>.</p>
                    <p>
                        <span>b</span>
                        &nbsp;En el celular abre la pantalla que quieres capturar. Si tienes Android mantén presionado el
                        <strong>botón de encendido</strong>
                        y el
                        <strong>botón para bajar volumen</strong>
                        durante unos segundos, y si tienes iPhone presiona el
                        <strong>botón de bloqueo</strong>
                        y el de
                        <strong>inicio</strong>
                        al mismo tiempo y listo.</p>
                </div>

            </div>
        </div>

        <div class="col-sm-10 col-sm-push-2 linea_organizate_der"></div>

        <div class="col-sm-6 col-sm-offset-3">
            <div class="wow animated fadeIn" data-wow-duration="2s">
                <div class="actividad actividad_organizate_numero">Actividad 8</div>
                <h2 class="actividad_titulo">Procesar información</h2>

                <p>Con la finalidad de ir adentrándote en una de las muchas ventajas que tiene tu correo institucional, en esta actividad generarás un archivo en línea, que después compartirás, así que te invitamos a realizarla.</p>

                <div class="numeros_nivel_4">
                    <p>
                        <span>1</span>
                        &nbsp;Entra a tu cuenta institucional de CCH.</p>
                    <p>
                        <span>2</span>
                        &nbsp;En la sección OneDrive, entra a la carpeta “Actividad 7”.</p>
                    <p>
                        <span>3</span>
                        &nbsp;Dentro de la carpeta, crea un documento de Word y nómbralo “Captura de pantalla”.</p>
                    <p>
                        <span>4</span>
                        &nbsp;En este documento escribe tu
                        <strong>nombre, número de cuenta y plantel</strong>
                        que ha sido asignado.</p>
                    <p>
                        <span>5</span>
                        &nbsp;Después de agregar esos datos, inserta la imagen de la captura de pantalla de la actividad anterior.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-10 linea_organizate_izq"></div>

        <div class="col-sm-6 col-sm-offset-3 actividad-final">
            <div class="wow animated fadeIn" data-wow-duration="2s">
                <div class="actividad actividad_organizate_numero">Actividad 9</div>
                <h2 class="actividad_titulo">Compartir información</h2>

                <p>Con la siguiente actividad podrás compartir tu información y colaborar con tus amigos y compañeros en la generación de nuevos materiales, así que prepárate.</p>

                <div class="numeros_nivel_4">
                    <p>
                        <span>1</span>
                        &nbsp;Entra a tu cuenta institucional de CCH.</p>
                    <p>
                        <span>2</span>
                        &nbsp;En la sección OneDrive, entra a la carpeta “Actividad 7”.</p>
                    <p>
                        <span>3</span>
                        &nbsp;Dentro de la carpeta, ingresa a tu documento de Word “Captura de pantalla”.</p>
                    <p>
                        <span>4</span>
                        &nbsp;Dentro de tu documento en línea, ve a la sección “Compartir” e inserta la dirección del correo electrónico
                        <strong>bienvenido@cch.unam.mx</strong>, finalmente da clic en “Enviar”.</p>
                    <p>
                        <span>5</span>
                        &nbsp;Después entra tu correo institucional para verificar que recibiste un correo. Ya en el correo que recibiste verás la siguiente leyenda, da clic ahí para verificar que hiciste bien el ejercicio:</p>
                    <p class="img-respuesta-auto"><img class="img-responsive" src="../img/respuesta-automatica.jpg" alt="Respuesta automática"></p>

                    <!-- <hr class="separa_nivel_4"> <div class="finalizar"> <p class="actividad_organizate_numero">Para finalizar contesta el cuestionario de opinión que está a continuación:</p> <a class="navbar-btn boton-salir" href="/cuestionario">Ir al
                    cuestionario</a> </div> -->

                </div>

                <!-- <hr class="separa_nivel_4"> <p>Como te habrás dado cuenta, el correo institucional también puede ayudarte a compartir información con tus amigos y compañeros de manera segura. Es importante que sepas que:</p> <ul class="list-bullet-4">
                <li>Puedes enviar correos con archivos adjuntos de hasta 10 MB.</li> <li>Con OneDrive tienes hasta un Terabyte para almacenar información.</li> <li>Cuentas con protección de antivirus y antispam.</li> <li>Puedes utilizar la <a
                href="https://onedrive.live.com/about/es-CL/download/ " target="_blank">app de OneDrive</a> en tus dispositivos móviles.</li> </ul> <p>Por eso y mucho más, no dudes en utilizarlo. Aprovecha todos sus beneficios.</p> -->
            </div>
        </div>

        <!-- <div class="col-sm-9 col-sm-push-3 linea_organizate_der"> </div> <div class="col-sm-6 col-sm-offset-3 actividad-final"> <div class="wow animated fadeIn" data-wow-duration="2s"> <div class="actividad actividad_organizate_numero">Actividad 9</div>
        <h2 class="actividad_titulo">¡Estás listo!</h2> <p>Para concluir te pedimos que escribas tu correo institucional <strong>(@cch.unam.mx)</strong> en el siguiente espacio:</p> </div> </div> -->

        {% if respondio %}
        <div class="col-md-12 bloque_password cuestionario-resuelto">
            <div class="wow animated fadeIn" data-wow-duration="2s">
                <div class="col-sm-6 col-sm-offset-3 texto-blanco">
                    <h2 class="actividad_titulo">¡Lo lograste!</h2>

                    <div class="video-final">
                        <div class="videoWrapper videoWrapper169 js-videoWrapper">
                            <iframe class="videoIframe js-videoIframe" src="" frameborder="0" allowtransparency="true" allowfullscreen="" data-src="https://www.youtube.com/embed/bJ9GLZ1b7xo?autoplay=1&amp; modestbranding=0&amp;rel=0&amp;hl=es"></iframe>
                            <button class="videoPoster js-videoPoster" style="background-image: url(../img/poster_video_logro.jpg)">Reproducir video</button>
                        </div>

                        <p>Esperamos que estas herramientas te sean de utilidad y hagan mucho más sencillo tu paso por el CCH.</p>

                        <p>Como te habrás dado cuenta, el correo institucional también puede ayudarte a compartir información con tus amigos y compañeros de manera segura. Es importante que sepas que:</p>

                        <ul class="list-bullet-white">
                            <li>Puedes enviar correos con archivos adjuntos de hasta 150 MB.</li>
                            <li>Recibes información relevante sobre becas, convocatorias, eventos, etc.</li>
                            <li>Con OneDrive tienes hasta un Terabyte para almacenar información.</li>
                            <li>Cuentas con protección de antivirus y antispam.</li>
                            <li>Puedes utilizar la
                                <a href="https://www.microsoft.com/es-mx/microsoft-365/onedrive/download" target="_blank">app de OneDrive</a>
                                en tus dispositivos móviles.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div id="cuestionario" class="col-sm-12 bloque_siguiente_cuestionario cuestionario-sin-resolver">
            <div class="wow animated bounce infinite" data-wow-duration="2s">
                <div class="col-sm-6 col-sm-offset-3 interior_bloque_siguiente bloque_organiza con-padding">
                    <h2 class="actividad_titulo">CUESTIONARIO DE OPINIÓN</h2>
                    <p>Para finalizar contesta el cuestionario de opinión que está a continuación:</p>
                    <a class="navbar-btn boton-salir" href="/cuestionario">Ir al cuestionario</a>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- <div id="correo" class="modal fade" role="dialog"> <div class="modal-dialog modal-correo"> <div class="modal-content"> <div class="modal-header modal-correcto"> <button type="button" class="close" data-dismiss="modal">×</button> <h3
        class="modal-title">Así se ve el mensaje con la contraseña</h3> </div> <div class="modal-body interior_correcto"> <img src="../img/captura_correo_final.jpg" class="img-responsive" alt="Correo Final"> <p>Solo tienes que enviar el correo una sola
        vez</p> </div> </div> </div> </div> -->

    </div>
</div>
{% endblock %}
